<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pro7RemoteMiddleMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Pro7RemoteMiddleMan.Properties.Settings>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>470</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>370</value>
            </setting>
            <setting name="MasterNetworkAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="MasterNetworkPort" serializeAs="String">
                <value>65432</value>
            </setting>
            <setting name="MasterPassword" serializeAs="String">
                <value>control</value>
            </setting>
            <setting name="SlaveNetworkAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="SlaveNetworkPort" serializeAs="String">
                <value>65432</value>
            </setting>
            <setting name="SlavePassword" serializeAs="String">
                <value>control</value>
            </setting>
        </Pro7RemoteMiddleMan.Properties.Settings>
    </userSettings>
</configuration>